.no-mp {
    margin: 0;
    padding: 0;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.full-img {
    display: block;
    position: fixed;
    z-index: 2;
}

.container-fluid {
    width: 100vm;
    height: 100vh;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

.music-on {
    animation: rotate 3s linear infinite;
    background-image: url("/img/icon_music_on2.png");
}

.music-off {
    background-image: url("/img/icon_music_off2.png");
}

.main-bg {
    background-image: url("../img/bg.png");
}

.resize {
    width: 20px;
    height: 15px;
    bottom: 2vh;
    left: 48vw;
    position: absolute;
    z-index: 5;
    animation-iteration-count: infinite;
}

#page-5 .content {
    margin-top: 8.928571vh;
}

.box {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: dashed 1px #a7443f;
    margin: 3.28125vw 0;
}

.item {
    background: url("../img/5/item-bg.png") no-repeat;
    background-size: 100% 100%;
    color: #560e13;
    padding: .05vh 2.8125vw;
    font-size: 4vw;
    margin-bottom: 1vh;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
}

.list .box:first-child {
    margin-top: 0;
}

.list .box:last-child {
    border: 0;
}

#page-5 .dialog {
    background: url("../img/5/dialogbg.png") no-repeat;
    background-size: 100% 100%;
    width: 83vw;
    padding-bottom: 3vh;
    position: absolute;
    top: 3.187vh;
    left: 8.3vw;
    height: 91.866vh;
}

.none {
    display: none;
}

.close {
    background: url("../img/5/close.png") no-repeat;
    background-size: 100% 100%;
    width: 6.5vw;
    height: 3.97vh;
    position: absolute;
    top: 2.5vh;
    right: 4vw;
}

.dialog .logo {
    max-height: 6vh;
    margin: 5vh auto 5vh;
    display: block;
}

.select-form {
    width: 56.25vw;
    margin: 0 auto;
}

.form-text .pj {
    width: 6vw;
    height: 6vw;
    margin: 0px 0 -1.5vw 2vw;
    display: inline-block;
    background-size: 100% 100%;
}
.zan-txt{
    text-align: center;
    color: #cb9f77;
    margin: 5vh 0 2vh;
}

.up {
    background-image: url("../img/5/dialog/1-1.png");
}

.down {
    background-image: url("../img/5/dialog/2-1.png");
}

.form-text .up.selected {
    background-image: url("../img/5/dialog/1-2.png");
}

.form-text .down.selected {
    background-image: url("../img/5/dialog/2-2.png");
}

.form-text {
    position: relative;
}
.textarea-placeholder{
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 4;
    color: #5d544a;
    font-size: large;
}
.form-text textarea {
    display: block;
    width: 64.22vw;
    height: 21vh;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #e1e1e1;
    padding: 5px;
}
#msg{
    background-image: url("../img/5_1/msg_bg.png");
    background-size: 100% 100%;
    width: 83vw;
    height: 136.875vw;
    margin: 10.31vw auto 0;
    position: relative;
}
#msg-content{
    font-size: 14px;
    position: absolute;
    width: 77vw;
    height: 98vw;
    top: 32.875vw;
    background: #ffffff;
    padding: 3vw;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.msg-content-item{
    padding: 5vw 0;
    border-bottom:dashed 1px #b5b5b5;
}
.msg-content-item-tittle{
    font-weight: bold;
}
.msg-content-item-content{
    text-align: left;
}